@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50
      dark:bg-gray-900
      text-gray-900
      dark:text-gray-50
      transition-colors;
    cursor: none;
    height: 100vh;
  }
}


.cursor {
  position: absolute;
  pointer-events: none;


  background-color: transparent;
  border:1px solid #DAA06D;    
  height:10px;
    border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:10px;
}
